body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    justify-content: space-around;
    padding: 10px;

}
.link-header{
    border: 5px double black;
    padding: 10px;
    margin-top: 100px;
    border-radius: 10px;
}
.link-header:hover{
    background-image:linear-gradient(white,blue,red) ;
    color: yellow;
}

